# PyCity Schools Analysis

- Your analysis here

---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on="school_name")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [3]:
# Calculate the total number of unique schools
school_count = school_data_complete['school_name'].nunique()
print(f"Total number of unique schools: {school_count}")

Total number of unique schools: 15

In [4]:
# Calculate the total number of students
student_count = student_data.shape[0]
print(f"Total number of students: {student_count:,.2f}")

Total number of students: 39,170.00

In [5]:
# Calculate the total budget
total_budget = school_data['budget'].sum()
print(f"Total budget: ${total_budget:,.2f}")

Total budget: $24,649,428.00

In [7]:
# Calculate the average (mean) math score
average_math_score = school_data_complete['math_score'].mean()
print(f"Average math score: {average_math_score:.2f}")

Average math score: 78.99

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete['reading_score'].mean()
print(f"Average reading score: {average_reading_score:.2f}")

Average reading score: 81.88

In [8]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print(f"Percentage of students who passed math: {passing_math_percentage:.2f}%")

Percentage of students who passed math: 74.98%

In [9]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[school_data_complete["reading_score"] >= 70].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(f"Percentage of students who passed reading: {passing_reading_percentage:.2f}%")

Percentage of students who passed reading: 85.81%

In [10]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
print(f"Percentage of students who passed math and reading: {overall_passing_rate:.2f}%")

Percentage of students who passed math and reading: 65.17%

In [11]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "Passing Math Percentage (%)": [passing_math_percentage],
    "Passing Reading Percentage (%)": [passing_reading_percentage],
    "Overall Passing Rate (%)": [overall_passing_rate]
})

district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
print(district_summary)

   Total Schools Total Students    Total Budget  Average Math Score  \
0             15         39,170  $24,649,428.00           78.985371

   Average Reading Score  Passing Math Percentage (%)  \
0               81.87784                    74.980853

   Passing Reading Percentage (%)  Overall Passing Rate (%)
0                       85.805463                 65.172326

## School Summary

In [12]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types = school_data.set_index(["school_name"])["type"].sort_index()
print(f"School Types: {school_types}")
print("------------------------")

School Types: school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object
------------------------

In [13]:
# Calculate the total student count per school from school_data
per_school_counts = school_data_complete["school_name"].value_counts()
per_school_counts = school_data_complete["school_name"].value_counts().sort_index()
formated_per_school_counts = per_school_counts.map("{:,}".format)
print("Total Students per School:")
print(formated_per_school_counts)
print("------------------------")

Total Students per School:
school_name
Bailey High School       4,976
Cabrera High School      1,858
Figueroa High School     2,949
Ford High School         2,739
Griffin High School      1,468
Hernandez High School    4,635
Holden High School         427
Huang High School        2,917
Johnson High School      4,761
Pena High School           962
Rodriguez High School    3,999
Shelton High School      1,761
Thomas High School       1,635
Wilson High School       2,283
Wright High School       1,800
Name: count, dtype: object
------------------------

In [14]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data_complete.groupby('school_name')['budget'].first()
formatted_per_school_budget = per_school_budget.map("${:,.2f}".format)
per_school_capita = per_school_budget / per_school_counts.astype(float)
formatted_per_school_capita = per_school_capita.map("${:,.2f}".format)
print("Total Budget per School:")
print(formatted_per_school_budget)
print("------------------------")
print("Total Per Capita Spending per School:")
print(formatted_per_school_capita)
print("------------------------")

Total Budget per School:
school_name
Bailey High School       $3,124,928.00
Cabrera High School      $1,081,356.00
Figueroa High School     $1,884,411.00
Ford High School         $1,763,916.00
Griffin High School        $917,500.00
Hernandez High School    $3,022,020.00
Holden High School         $248,087.00
Huang High School        $1,910,635.00
Johnson High School      $3,094,650.00
Pena High School           $585,858.00
Rodriguez High School    $2,547,363.00
Shelton High School      $1,056,600.00
Thomas High School       $1,043,130.00
Wilson High School       $1,319,574.00
Wright High School       $1,049,400.00
Name: budget, dtype: object
------------------------
Total Per Capita Spending per School:
school_name
Bailey High School       $628.00
Cabrera High School      $582.00
Figueroa High School     $639.00
Ford High School         $644.00
Griffin High School      $625.00
Hernandez High School    $652.00
Holden High School       $581.00
Huang High School        $655.00
Johnson High School      $650.00
Pena High School         $609.00
Rodriguez High School    $637.00
Shelton High School      $600.00
Thomas High School       $638.00
Wilson High School       $578.00
Wright High School       $583.00
dtype: object
------------------------

In [15]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
print("\nAverage Math Score per School:")
print(per_school_math)
print("------------------------")

per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()
print("\nAverage Reading Score per School:")
print(per_school_reading)
print("------------------------")

Average Math Score per School:
school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64
------------------------

Average Reading Score per School:
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64
------------------------

In [16]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
school_students_passing_math = students_passing_math.groupby("school_name").size()
print("Number of Students Passing Math (70 or higher) per School:")
print(school_students_passing_math)
print("------------------------")

Number of Students Passing Math (70 or higher) per School:
school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64
------------------------

In [17]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
school_students_passing_reading = students_passing_reading.groupby("school_name").size()
print("Number of Students Passing Reading (70 or higher) per School:")
print(school_students_passing_reading)
print("------------------------")

Number of Students Passing Reading (70 or higher) per School:
school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64
------------------------

In [22]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [23]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
print("Passing Math Percentage (%) per School:")
print(per_school_passing_math)
print("------------------------")
print("Passing Reading Percentage (%) per School:")
print(per_school_passing_reading)
print("------------------------")
print("Overall Passing Rate (%) per School:")
print(overall_passing_rate)
print("------------------------")

Passing Math Percentage (%) per School:
school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64
------------------------
Passing Reading Percentage (%) per School:
school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64
------------------------
Overall Passing Rate (%) per School:
school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64
------------------------

In [24]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    "School Type": school_types,
  "Total Students": per_school_counts,
  "Total Budget": per_school_budget,
  "Per Capita Budget": per_school_capita,
  "Average Math Score": per_school_math,
  "Average Reading Score": per_school_reading,
  "Passing Math Percentage (%)": per_school_passing_math,
  "Passing Reading Percentage (%)": per_school_passing_reading,
  "Overall Passing Rate (%)": overall_passing_rate
})
per_school_summary["Total Budget"] = per_school_summary["Total Budget"].map("${:,.2f}".format)
per_school_summary["Per Capita Budget"] = per_school_summary["Per Capita Budget"].map("${:,.2f}".format)
per_school_summary = per_school_summary.sort_index()
print(per_school_summary)
print("------------------------")

                      School Type  Total Students   Total Budget  \
school_name
Bailey High School       District            4976  $3,124,928.00
Cabrera High School       Charter            1858  $1,081,356.00
Figueroa High School     District            2949  $1,884,411.00
Ford High School         District            2739  $1,763,916.00
Griffin High School       Charter            1468    $917,500.00
Hernandez High School    District            4635  $3,022,020.00
Holden High School        Charter             427    $248,087.00
Huang High School        District            2917  $1,910,635.00
Johnson High School      District            4761  $3,094,650.00
Pena High School          Charter             962    $585,858.00
Rodriguez High School    District            3999  $2,547,363.00
Shelton High School       Charter            1761  $1,056,600.00
Thomas High School        Charter            1635  $1,043,130.00
Wilson High School        Charter            2283  $1,319,574.00
Wright High School        Charter            1800  $1,049,400.00

                      Per Capita Budget  Average Math Score  \
school_name
Bailey High School              $628.00           77.048432
Cabrera High School             $582.00           83.061895
Figueroa High School            $639.00           76.711767
Ford High School                $644.00           77.102592
Griffin High School             $625.00           83.351499
Hernandez High School           $652.00           77.289752
Holden High School              $581.00           83.803279
Huang High School               $655.00           76.629414
Johnson High School             $650.00           77.072464
Pena High School                $609.00           83.839917
Rodriguez High School           $637.00           76.842711
Shelton High School             $600.00           83.359455
Thomas High School              $638.00           83.418349
Wilson High School              $578.00           83.274201
Wright High School              $583.00           83.682222

                       Average Reading Score  Passing Math Percentage (%)  \
school_name
Bailey High School                 81.033963                    66.680064
Cabrera High School                83.975780                    94.133477
Figueroa High School               81.158020                    65.988471
Ford High School                   80.746258                    68.309602
Griffin High School                83.816757                    93.392371
Hernandez High School              80.934412                    66.752967
Holden High School                 83.814988                    92.505855
Huang High School                  81.182722                    65.683922
Johnson High School                80.966394                    66.057551
Pena High School                   84.044699                    94.594595
Rodriguez High School              80.744686                    66.366592
Shelton High School                83.725724                    93.867121
Thomas High School                 83.848930                    93.272171
Wilson High School                 83.989488                    93.867718
Wright High School                 83.955000                    93.333333

                       Passing Reading Percentage (%)  \
school_name
Bailey High School                          81.933280
Cabrera High School                         97.039828
Figueroa High School                        80.739234
Ford High School                            79.299014
Griffin High School                         97.138965
Hernandez High School                       80.862999
Holden High School                          96.252927
Huang High School                           81.316421
Johnson High School                         81.222432
Pena High School                            95.945946
Rodriguez High School                       80.220055
Shelton High School                         95.854628
Thomas High School                          97.308869
Wilson High School                          96.539641
Wright High School                          96.611111

                       Overall Passing Rate (%)
school_name
Bailey High School                    54.642283
Cabrera High School                   91.334769
Figueroa High School                  53.204476
Ford High School                      54.289887
Griffin High School                   90.599455
Hernandez High School                 53.527508
Holden High School                    89.227166
Huang High School                     53.513884
Johnson High School                   53.539172
Pena High School                      90.540541
Rodriguez High School                 52.988247
Shelton High School                   89.892107
Thomas High School                    90.948012
Wilson High School                    90.582567
Wright High School                    90.333333
------------------------

## Highest-Performing Schools (by % Overall Passing)

In [25]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("Overall Passing Rate (%)", ascending=False)
print(top_schools.head(5))
print("------------------------")

                    School Type  Total Students   Total Budget  \
school_name
Cabrera High School     Charter            1858  $1,081,356.00
Thomas High School      Charter            1635  $1,043,130.00
Griffin High School     Charter            1468    $917,500.00
Wilson High School      Charter            2283  $1,319,574.00
Pena High School        Charter             962    $585,858.00

                    Per Capita Budget  Average Math Score  \
school_name
Cabrera High School           $582.00           83.061895
Thomas High School            $638.00           83.418349
Griffin High School           $625.00           83.351499
Wilson High School            $578.00           83.274201
Pena High School              $609.00           83.839917

                     Average Reading Score  Passing Math Percentage (%)  \
school_name
Cabrera High School              83.975780                    94.133477
Thomas High School               83.848930                    93.272171
Griffin High School              83.816757                    93.392371
Wilson High School               83.989488                    93.867718
Pena High School                 84.044699                    94.594595

                     Passing Reading Percentage (%)  Overall Passing Rate (%)
school_name
Cabrera High School                       97.039828                 91.334769
Thomas High School                        97.308869                 90.948012
Griffin High School                       97.138965                 90.599455
Wilson High School                        96.539641                 90.582567
Pena High School                          95.945946                 90.540541
------------------------

## Bottom Performing Schools (By % Overall Passing)

In [26]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values("Overall Passing Rate (%)", ascending=True)
print(bottom_schools.head(5))
print("------------------------")

                      School Type  Total Students   Total Budget  \
school_name
Rodriguez High School    District            3999  $2,547,363.00
Figueroa High School     District            2949  $1,884,411.00
Huang High School        District            2917  $1,910,635.00
Hernandez High School    District            4635  $3,022,020.00
Johnson High School      District            4761  $3,094,650.00

                      Per Capita Budget  Average Math Score  \
school_name
Rodriguez High School           $637.00           76.842711
Figueroa High School            $639.00           76.711767
Huang High School               $655.00           76.629414
Hernandez High School           $652.00           77.289752
Johnson High School             $650.00           77.072464

                       Average Reading Score  Passing Math Percentage (%)  \
school_name
Rodriguez High School              80.744686                    66.366592
Figueroa High School               81.158020                    65.988471
Huang High School                  81.182722                    65.683922
Hernandez High School              80.934412                    66.752967
Johnson High School                80.966394                    66.057551

                       Passing Reading Percentage (%)  \
school_name
Rodriguez High School                       80.220055
Figueroa High School                        80.739234
Huang High School                           81.316421
Hernandez High School                       80.862999
Johnson High School                         81.222432

                       Overall Passing Rate (%)
school_name
Rodriguez High School                 52.988247
Figueroa High School                  53.204476
Huang High School                     53.513884
Hernandez High School                 53.527508
Johnson High School                   53.539172
------------------------

## Math Scores by Grade

In [27]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]


# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grade_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grade_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grade_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()
print("Ninth Grade Math Scores:\n", ninth_grade_math_scores)
print("------------------------")
print("\nTenth Grade Math Scores:\n", tenth_grade_math_scores)
print("------------------------")
print("\nEleventh Grade Math Scores:\n", eleventh_grade_math_scores)
print("------------------------")
print("\nTwelfth Grade Math Scores:\n", twelfth_grade_math_scores)
print("------------------------")


# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th Grade Math Score": ninth_grade_math_scores,
    "10th Grade Math Score": tenth_grade_math_scores,
    "11th Grade Math Score": eleventh_grade_math_scores,
    "12th Grade Math Score": twelfth_grade_math_scores
})
math_scores_by_grade = math_scores_by_grade.reset_index()
print(math_scores_by_grade)
print("------------------------")

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

Ninth Grade Math Scores:
 school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64
------------------------

Tenth Grade Math Scores:
 school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64
------------------------

Eleventh Grade Math Scores:
 school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64
------------------------

Twelfth Grade Math Scores:
 school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64
------------------------
              school_name  9th Grade Math Score  10th Grade Math Score  \
0      Bailey High School             77.083676              76.996772
1     Cabrera High School             83.094697              83.154506
2    Figueroa High School             76.403037              76.539974
3        Ford High School             77.361345              77.672316
4     Griffin High School             82.044010              84.229064
5   Hernandez High School             77.438495              77.337408
6      Holden High School             83.787402              83.429825
7       Huang High School             77.027251              75.908735
8     Johnson High School             77.187857              76.691117
9        Pena High School             83.625455              83.372000
10  Rodriguez High School             76.859966              76.612500
11    Shelton High School             83.420755              82.917411
12     Thomas High School             83.590022              83.087886
13     Wilson High School             83.085578              83.724422
14     Wright High School             83.264706              84.010288

    11th Grade Math Score  12th Grade Math Score
0               77.515588              76.492218
1               82.765560              83.277487
2               76.884344              77.151369
3               76.918058              76.179963
4               83.842105              83.356164
5               77.136029              77.186567
6               85.000000              82.855422
7               76.446602              77.225641
8               77.491653              76.863248
9               84.328125              84.121547
10              76.395626              77.690748
11              83.383495              83.778976
12              83.498795              83.497041
13              83.195326              83.035794
14              83.836782              83.644986
------------------------

,school_name,9th Grade Math Score,10th Grade Math Score,11th Grade Math Score,12th Grade Math Score
0,Bailey High School,77.083676,76.996772,77.515588,76.492218
1,Cabrera High School,83.094697,83.154506,82.765560,83.277487
2,Figueroa High School,76.403037,76.539974,76.884344,77.151369
3,Ford High School,77.361345,77.672316,76.918058,76.179963
4,Griffin High School,82.044010,84.229064,83.842105,83.356164
5,Hernandez High School,77.438495,77.337408,77.136029,77.186567
6,Holden High School,83.787402,83.429825,85.000000,82.855422
7,Huang High School,77.027251,75.908735,76.446602,77.225641
8,Johnson High School,77.187857,76.691117,77.491653,76.863248
9,Pena High School,83.625455,83.372000,84.328125,84.121547
10,Rodriguez High School,76.859966,76.612500,76.395626,77.690748
11,Shelton High School,83.420755,82.917411,83.383495,83.778976
12,Thomas High School,83.590022,83.087886,83.498795,83.497041
13,Wilson High School,83.085578,83.724422,83.195326,83.035794
14,Wright High School,83.264706,84.010288,83.836782,83.644986

## Reading Score by Grade

In [28]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]
ninth_grade_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grade_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grade_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grade_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()
print("Ninth Grade Reading Scores:\n", ninth_grade_reading_scores)
print("------------------------")
print("\nTenth Grade Reading Scores:\n", tenth_grade_reading_scores)
print("------------------------")
print("\nEleventh Grade Reading Scores:\n", eleventh_grade_reading_scores)
print("------------------------")
print("\nTwelfth Grade Reading Scores:\n", twelfth_grade_reading_scores)
print("------------------------")

reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_reading_scores,
    "10th": tenth_grade_reading_scores,
    "11th": eleventh_grade_reading_scores,
    "12th": twelfth_grade_reading_scores
})
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None
print(reading_scores_by_grade)
print("------------------------")


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

Ninth Grade Reading Scores:
 school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64
------------------------

Tenth Grade Reading Scores:
 school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64
------------------------

Eleventh Grade Reading Scores:
 school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64
------------------------

Twelfth Grade Reading Scores:
 school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64
------------------------
                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171
------------------------

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [31]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]
school_spending_df = per_school_summary.copy()
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, bins=spending_bins, labels=labels)
print(school_spending_df[["Per Capita Budget", "Spending Ranges (Per Student)"]])
print("------------------------")

                      Per Capita Budget Spending Ranges (Per Student)
school_name
Bailey High School              $628.00                      $585-630
Cabrera High School             $582.00                         <$585
Figueroa High School            $639.00                      $630-645
Ford High School                $644.00                      $630-645
Griffin High School             $625.00                      $585-630
Hernandez High School           $652.00                      $645-680
Holden High School              $581.00                         <$585
Huang High School               $655.00                      $645-680
Johnson High School             $650.00                      $645-680
Pena High School                $609.00                      $585-630
Rodriguez High School           $637.00                      $630-645
Shelton High School             $600.00                      $585-630
Thomas High School              $638.00                      $630-645
Wilson High School              $578.00                         <$585
Wright High School              $583.00                         <$585
------------------------

In [32]:
# Create a copy of the school summary for later aggregations
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` on the per_school_capita Series from earlier to categorize per student spending based on the bins.

# Convert Spending Ranges (Per Student) to a string
school_spending_df["Spending Ranges (Per Student)"] = school_spending_df["Spending Ranges (Per Student)"].astype(str)
school_spending_df

In [35]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Passing Math Percentage (%)"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Passing Reading Percentage (%)"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Overall Passing Rate (%)"].mean()

KeyError: 'Spending Ranges (Per Student)'

In [36]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "Passing Math Percentage (%)": spending_passing_math,
    "Passing Reading Percentage (%)": spending_passing_reading,
    "Overall Passing Rate (%)": overall_passing_spending
})
print(spending_summary)
print("------------------------")

NameError: name 'spending_math_scores' is not defined

## Scores by School Size

In [37]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_size_df = per_school_summary.copy()
school_size_df["School Size"] = pd.cut(per_school_counts, bins=size_bins, labels=labels)
school_size_df["School Size"] = school_size_df["School Size"].astype(str)
print(school_size_df[["School Size", "Total Students"]])
print("------------------------")

                              School Size  Total Students
school_name
Bailey High School      Large (2000-5000)            4976
Cabrera High School    Medium (1000-2000)            1858
Figueroa High School    Large (2000-5000)            2949
Ford High School        Large (2000-5000)            2739
Griffin High School    Medium (1000-2000)            1468
Hernandez High School   Large (2000-5000)            4635
Holden High School          Small (<1000)             427
Huang High School       Large (2000-5000)            2917
Johnson High School     Large (2000-5000)            4761
Pena High School            Small (<1000)             962
Rodriguez High School   Large (2000-5000)            3999
Shelton High School    Medium (1000-2000)            1761
Thomas High School     Medium (1000-2000)            1635
Wilson High School      Large (2000-5000)            2283
Wright High School     Medium (1000-2000)            1800
------------------------

## Scores by School Type

In [38]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["Passing Math Percentage (%)"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["Passing Reading Percentage (%)"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["Overall Passing Rate (%)"].mean()

In [39]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "Passing Math Percentage (%)": average_percent_passing_math_by_type,
    "Passing Reading Percentage (%)": average_percent_passing_reading_by_type,
    "Overall Passing Rate (%)": average_percent_overall_passing_by_type
})
print(type_summary)
print("------------------------")

             Average Math Score  Average Reading Score  \
School Type
Charter               83.473852              83.896421
District              76.956733              80.966636

             Passing Math Percentage (%)  Passing Reading Percentage (%)  \
School Type
Charter                        93.620830                       96.586489
District                       66.548453                       80.799062

             Overall Passing Rate (%)
School Type
Charter                     90.432244
District                    53.672208
------------------------